.cabeçalho {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabeçalho__menu-hamburguer {
    width: 70px;
    height: 60px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__logotipo {
    padding: 0.35em;
    max-width: 100px;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botão:checked~.lista-menu {
    display: block;
}

.container__botão:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer {
    background-image: url("../img/MenuAberto.svg");
}

.container__botão:checked ~ .container__rotulo {
    background: var(--cor-secundaria);
}

.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-secundaria);
    text-decoration: none;
}

.lista-menu__link {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--cor-primaria);
    text-decoration: none;
}

.container__botão,
.container__titulo,
.container__texto,
.opções {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito  {
        color: var(--cor-secundaria);
        font-family: var(--fonte-primaria);
        font-size: 30px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .container__logotipo {
        max-width: 138px;
        padding-right: 2em;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
        font-weight: 500;
        color: var(--cor-secundaria);
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opções__botão:checked ~ .lista-menu {
        display: block;
        width: 50%;
    }

    .opções__botão {
        display: none;
    }

    .opções__botão:checked ~ .opções__rotulo > .opções__item {
        background: var(--cor-secundaria);
        color: var(--cor-primaria);
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover > .lista-menu__link {
        color: var(--cor-terciaria);
        text-decoration: none;
    }

    .lista-menu__item:hover {
        background: var(--cor-primaria);
    }

}